body {
    background-color: #191c1f;
}

footer {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    opacity: 25%;
    grid-area: footer;
}